@{
    ViewBag.Title = "About";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>@ViewBag.Message</h2>
</hgroup>

<article>
    <p>
        The application demonstrates how a C# program can use feature flags
        to display or hide portions of an application.
    </p>

</article>

<aside>
    <h3>Further Information</h3>
    <p>
        The following Web sites are helpful sources on feature flags.
    </p>
    <ul>
        <li>Martin Fowler's explanation of <a href="http://martinfowler.com/bliki/FeatureToggle.html">feature toggles</a></li>
        <li>Jez Humble's web site about his book on <a href="http://continuousdelivery.com/">Continuous Delivery</a>.</li>
    </ul>
</aside>