@{
    ViewBag.Title = "Contact";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>@ViewBag.Message</h2>
</hgroup>

<section class="contact">
    <header>
        <h3>Repository</h3>
    </header>
    <p>
        Information on this program is available on 
        <a href="http://github.com/" >GitHub</a>,
        including documentation and source code.
    </p>
</section>