@{
    ViewBag.Title = "Home Page";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
        </div>
    </section>
    <h2>Main Page</h2>
}
<form action="Index">
    @Html.ActionLink("Throw an Exception", "ThrowAnException")
</form>
